name: Create Release

on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: 'Tag Name'
        required: true
  push:
    tags:
      - '*'

jobs:
  build_release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            name: main
            target_path: app/main
            dependencies: |
              sudo apt-get install -y libsoup-3.0-dev libjavascriptcoregtk-4.1-dev libwebkit2gtk-4.1-dev
            cache_directory: app/main/src-tauri/target
          - os: macos-latest
            name: main
            target_path: app/main
            cache_directory: app/main/src-tauri/target
          - os: macos-13
            name: main
            target_path: app/main
            cache_directory: app/main/src-tauri/target
          - os: windows-latest
            name: main
            target_path: app/main
            cache_directory: app/main/src-tauri/target
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 8
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          cache-directories: "${{ github.workspace }}/${{ matrix.cache_directory }}"
      - uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Linux dependencies for U
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt-get update
          sudo apt-get install -y libdbus-1-dev libgtk-3-dev libayatana-appindicator3-dev librsvg2-dev
      - name: Install Linux dependencies
        if: startsWith(matrix.os, 'ubuntu')
        run: ${{ matrix.dependencies }}

      - name: GLIBC version
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          GLIBC_VER=$(ldd --version | head -n1 | awk '{print $NF}')
          echo "GLIBC version: ${GLIBC_VER}"

      - name: Build Vite + Tauri (Linux/macOS)
        if: matrix.os != 'windows-latest'
        run: |
          rm -rf ${{ github.workspace }}/${{ matrix.target_path }}/src-tauri/target/release/bundle/
          cd ./${{ matrix.target_path }}
          pnpm install
          pnpm build
          cd ${{ github.workspace }}
          ./rename_build.sh ${{ github.workspace }}/${{ matrix.target_path }}/src-tauri/target/release/bundle/ ${{ matrix.name }}

      - name: Build Vite + Tauri (Windows)
        if: matrix.os == 'windows-latest'
        shell: pwsh
        run: |
          Remove-Item -Recurse -Force "${{ github.workspace }}/${{ matrix.target_path }}/src-tauri/target/release/bundle/" -ErrorAction SilentlyContinue
          Set-Location "${{ github.workspace }}/${{ matrix.target_path }}"
          pnpm install
          pnpm build

      - name: Add files to release (Linux/macOS)
        if: matrix.os != 'windows-latest'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.tag_name || github.ref_name }}
          draft: true
          files: |
            ${{ github.workspace }}/${{ matrix.target_path }}/src-tauri/target/release/bundle/*/rquickshare-x-${{ matrix.name }}*
          fail_on_unmatched_files: true

      - name: Add files to release (Windows)
        if: matrix.os == 'windows-latest'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.tag_name || github.ref_name }}
          draft: true
          files: |
            ${{ github.workspace }}/${{ matrix.target_path }}/src-tauri/target/release/bundle/msi/*.msi
            ${{ github.workspace }}/${{ matrix.target_path }}/src-tauri/target/release/bundle/nsis/*.exe
          fail_on_unmatched_files: true
